<!doctype html>
<html>
    <head>
        <!--import jQuery-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!--import Chart.js-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
